<head><link rel="stylesheet" href="/stylesheets/dash.css"></head>
<h1><%= current_user.username %></h1>
<nav>
    <a href="/logout">Log Out</a>
    <a href="/projects/new">Start A Project</a>
    <form action="/users/<%= current_user.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Account</button>
    </form>
</nav>

<article id="projects">
    <h2>Your Projects:</h2>
    <% current_user.projects.each do |project| %>
    <a href="/projects/<%= project.id %>">
        <section class="project-card">
            <h4><%= project.title %></h4>
            <% tsks = project.tasks %>
            <p>Queued Tasks: <%= tsks.filter {|t| t.doneness == "0" }.count %></p>
            <p>In-Progress Tasks: <%= tsks.count %></p>
            <%# <p>Completed Tasks: <%= project.tasks.count %></p> %>
        </section>
    </a>
    <% end %>
</article>