<link rel="stylesheet" href="/stylesheets/header.css">

<header>
    <nav>
        <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
        <a id="header__logout" href="/logout">Log Out</a><br>
        <a href="/users/<%= current_user.id %>">My Projects</a>
        <a href="/projects/new">New Project</a>

        <% if @project %>
            <a href="/projects/<%= @project.id %>/edit">Edit Project</a>
            <form action="/projects/<%= @project.id %>/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" value="Delete Project?">Delete Project?</button>
            </form>
        <% end %>

        <form action="/users/<%= current_user.id %>/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete Account</button>
            
        </form>
    </nav>

    <% if @project %>
        <h1><%= @project.title %></h1>
        <p><%= @project.description %></p>
    
        <% else %>
        <h1><%= current_user.username %></h1>
    
    <% end %>   
</header>